<div class="row education">
  <div class="col s6">
    <strong>Name:</strong>
    <span class="right"><%= college.name %></span>
  </div>
  <div class="col s6">
    <strong>Year of Graduation:</strong>
    <span class="right"><%= college.year_of_graduation %></span>
  </div>
  <div class="col s6">
    <strong>Degree:</strong>
    <span class="right"><%= college.degree %></span>
  </div>
  <div class="col s6">
    <strong>University:</strong>
    <span class="right"><%= college.university %></span>
  </div>
</div>