<div class="sub-container">
  <p>
    <strong>Name:</strong>
    <%= college.name %>
  </p>

  <p>
    <strong>Degree:</strong>
    <%= college.degree %>
  </p>

  <p>
    <strong>Year of graduation:</strong>
    <%= college.year_of_graduation %>
  </p>

  <p>
    <strong>University:</strong>
    <%= college.university %>
  </p>
</div>